*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 56, 15);
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  
  
}
#container-class{
  position: relative;
  top:700px;
  right: 0px;
  height: 100px;
  width:2000px;
}
 .back-card-stack{
  --width: 6em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-color:grey;
  opacity: 50%;
  border: 3px solid black; 
  border-radius: .25em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;

  position: absolute;
  bottom:-10px;
  right:992px;
} 

.back-card-burned-stack{
  --width: 6em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-color:none;
  border: 3px solid black; 
  border-radius: .25em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;

  position: absolute;
  bottom:180px;
  right:992px;
  
} 
.clicked{

  --width: 5em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-color: white;
  
  border-radius: .25em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  position: relative;
  float:left;
  bottom:-300px;
  left:260px;


  border: 1px;
  border-style:solid;
  border-color:#ebfc00;
  padding:10px;  
}

#callBluff {
  position:absolute;
  right:20px;
  top:500px;
  height: 100px; 
  width: 210px;
  background-color: maroon;
  color: beige;
  border-radius: 10px; 
  font-family: "Consolas"; 
  font-weight: bolder;
  font-size:25px;
  
  
}

#cardSelector {
  position:absolute;
  right:700px;
  top:1050px;
  height: 50px;
  width:50px;
  border-radius: 5px;
  font-family: "Consolas"; 
  font-weight: bolder;
  font-size:25px;
  background-color:beige;

}

#selectorText {
  position:absolute;
  right:610px;
  top:980px;
  font-size:20px;
  color: aqua;
  font-family: "Consolas"; 
  font-weight: bolder;
}

.card {
  --width: 5em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-color: white;
  border: 1px solid black;
  border-radius: .25em;
  padding: 1em;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  bottom:-300px;
  position: relative;
  left:260px;
  float:left;
  

}


.back_card{
  --width: 5em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-color: white;
  border: 1px solid black;
  border-radius: .25em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  position: absolute;
  bottom:0px;
  right:1000px;
  
  background-image: url("../images/Card_back_05a.svg");
  background-repeat: no-repeat;
  background-size: 80px 115px;
 
}

.back_card_burned{
  --width: 5em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-color: white;
  border: 1px solid black;
  border-radius: .25em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  position: absolute;
  bottom:190px;
  right:999px;
  cursor:not-allowed;
  
  background-image: url("../images/Card_back_05a.svg");
  background-repeat: no-repeat;
  background-size: 80px 115px; 
}

[data-suit="heart"].card,
[data-suit="diamond"].card {
  color: red;
}

[data-suit="spade"].card,
[data-suit="club"].card {
  color: black;
}
#play-card-button{
  position:absolute;
  right:20px;
  top:700px;
  width: 210px;
  border-radius: 10px; 
  font-family: "Consolas"; 
  font-weight: bolder;
  font-size:25px;
  background-color: beige;
}
#take-back-card{
  position:absolute;
  right:20px;
  top:800px;
  width: 210px;
  border-radius: 10px; 
  font-family: "Consolas"; 
  font-weight: bolder;
  font-size:25px;
  background-color: beige;
  
}
#end-turn-button{
  position:absolute;
  right:20px;
  top:900px;
  width: 210px;
  height: 80px;
  border-radius: 10px; 
  font-family: "Consolas"; 
  font-weight: bolder;
  font-size:25px;
  background-color: orange;
}

#player-icon-1{
  position: absolute;
  width: 100px;
  height:100px;
  right: 600px;
  top: 5px;
  
  
} 

#player-icon-2{
  position: absolute;
  width: 100px;
  height:100px;
  left:600px;
  top: 5px;
  
} 


.pip {
  grid-row-end: span 2;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

[data-suit="heart"] .pip {
  background-image: url("../images/heart.svg");
}

[data-suit="diamond"] .pip {
  background-image: url("../images/diamond.svg");
}

[data-suit="spade"] .pip {
  background-image: url("../images/spade.svg");
}

[data-suit="club"] .pip {
  background-image: url("../images/club.svg");
}

.corner-number {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: -.1em;
  font-size: .8em;
}

.corner-number.top {
  top: .25em;
  left: .25em;
}

.corner-number.bottom {
  bottom: .25em;
  right: .25em;
  transform: rotate(180deg);
}

.corner-number::after {
  line-height: 0;
  display: block;
  width: .5em;
}





[data-suit="heart"] .corner-number::after {
  content: url("../images/heart.svg");
}

[data-suit="spade"] .corner-number::after {
  content: url("../images/spade.svg");
}

[data-suit="club"] .corner-number::after {
  content: url("../images/club.svg");
}

[data-suit="diamond"] .corner-number::after {
  content: url("../images/diamond.svg");
}

[data-value="J"][data-suit="diamond"] .pip,
[data-value="J"][data-suit="heart"] .pip {
  background-image: url("../images/jack-red.svg");
}
[data-value="J"][data-suit="spade"] .pip,
[data-value="J"][data-suit="club"] .pip {
  background-image: url("../images/jack-black.svg");
}

[data-value="Q"][data-suit="diamond"] .pip,
[data-value="Q"][data-suit="heart"] .pip {
  background-image: url("../images/queen-red.svg");
}
[data-value="Q"][data-suit="spade"] .pip,
[data-value="Q"][data-suit="club"] .pip {
  background-image: url("../images/queen-black.svg");
}

[data-value="K"][data-suit="diamond"] .pip,
[data-value="K"][data-suit="heart"] .pip {
  background-image: url("../images/king-red.svg");
}
[data-value="Joker"] .pip {
  background-image: url("../images/joker.svg");
}

[data-value="A"] .pip,
[data-value="J"] .pip,
[data-value="Q"] .pip,
[data-value="K"] .pip,
[data-value="Joker"] .pip {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: span 6;
  grid-column-end: span 3;
}


[data-value="2"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 2;
}

[data-value="2"] .pip:nth-child(2) {
  grid-row-start: 7;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-value="3"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 2;
}

[data-value="3"] .pip:nth-child(2) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-value="3"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-value="4"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="4"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="4"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="4"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="5"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="5"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="5"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="5"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="5"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-value="6"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="6"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="6"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="6"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="6"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value="6"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-value="7"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="7"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="7"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="7"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="7"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value="7"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-value="7"] .pip:nth-child(7) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-value="8"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="8"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}
svg {
  stroke: transparent;
  stroke-width: 0px;
}
[data-value="8"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="8"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="8"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value="8"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-value="8"] .pip:nth-child(7) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-value="8"] .pip:nth-child(8) {
  grid-row-start: 6;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-value="9"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="9"] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-value="9"] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="9"] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-value="9"] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(9) {
  grid-row-start: 4;
  grid-column-start: 2;
}



[data-value="10"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-value="10"] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-value="10"] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="10"] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-value="10"] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(9) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-value="10"] .pip:nth-child(10) {
  grid-row-start: 6;
  grid-column-start: 2;
  transform: rotate(180deg);
}